BraveSoftware/
QtProject.conf
VirtualBox/
dconf/
discord/
gedit/
gtk-2.0/
gtk-3.0/
heroic/
htop/
kdeconnect/
legendary/
libfm/
lutris/
mimeapps.list
nautilus/
neofetch/
pavucontrol.ini
pcmanfm/
polybar/
pulse/
transmission-daemon/
vlc/
volumeicon/
xfce4/
chromium/
supertuxkart/
user-dirs.dirs
user-dirs.locale
zsh/.zcompdump
kritadisplayrc
kritarc
emacs/
alacritty/
obs-studio/
obsidian/
starship.toml
keepassxc/
Postman/
balena-etcher-electron/
cava/
evolution/
kdenlive-layoutsrc
kdenliverc
