*.color0: #282828
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

*.background: #282c34
*.foreground: #abb2bf

dwm.selbgcolor: #fabd2f
dwm.normbgcolor: #282828
dwm.normfgcolor: #ebdbb2
dwm.selfgcolor: #ebdbb2
dwm.selbordercolor: #cc241d
dwm.normbordercolor: #282828

st.color0: #282828
st.color1: #cc241d
st.color2: #98971a
st.color3: #d79921
st.color4: #458588
st.color5: #b16286
st.color6: #689d6a
st.color7: #a89984
st.color8: #928374
st.color9: #fb4934
st.color10: #b8bb26
st.color11: #fabd2f
st.color12: #83a598
st.color13: #d3869b
st.color14: #8ec07c
st.color15: #ebdbb2

st.background: #282c34
st.foreground: #abb2bf
